@use "variables" as *;
@use "mixins" as *;

// Extra Stripping Styles:
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// Base Styles:
body {
    overflow-x: hidden;
    background-color: $whiteColor;
}

.wrapper {
    max-width: 1560px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery {
    @include flex (row, wrap, center, center)
}

.galleryItem {
    width: 33%;
    button {
        border: none;
    }
}