@use "variables" as *;
@use "mixins" as *;

header {
    @include flex (row, nowrap, normal, center);
    img {
        margin-left: 0px;
        height: 100vh;
        width: 45%;
        object-fit: cover;
        object-position: center;
    }
    div {
        @include flex (column, nowrap, center, center);
        width: calc(50% - 10px);
        margin: 20px;
        margin-left: 50px;
        h1, li {
            text-align: center;
        }
        h2 {
            display: inline-block;
            color: $fontAltColour;
            border: solid 4px $quaternaryColour;
            border-radius: 50px;
            padding: 2px 15px 5px;
            margin: 10px 10px 50px;
            transition: 350ms;
            &:hover {
                color: $quaternaryColour;
                background-color: $primaryColour;
            }
        }
    }
}