@use "variables" as *;
@use "mixins" as *;

// Nav Styles:

.navBar {
    @include flex (row, nowrap, space-between, flex-start);
    
    .logo {
        width: 150px;
        height: 150px;
    }

    ul {
        @include flex (row, nowrap, flex-end, center);
        width: 50%;
        margin: 40px 30px 10px;

        li {
            background-color: $secondaryColour;
            padding: 3px 10px 5px;
            border-radius: 20px;
            margin-left: 50px;
            transition: 250ms;
            &:hover {
                position: relative;
                color: $quaternaryColour;
                background-color: $primaryColour;
            }
        }
    }
}

