@use "variables" as *;
@use "mixins" as *;

// Nav Styles:
.navIcon {
    display: none;
    padding: 10px 13px;
    margin: 6px;
    border-radius: 50%;
    font-size: 2rem;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $tertiaryColour;
    color: $primaryColour;
    transition: 0.75s;
    &:hover,
    &:focus {
        color: $quaternaryColour;
        background-color: $primaryColour;
    }
    @include for-tablet-portrait {
        display: block;
    }
}

.navBar {
    @include flex (row, nowrap, space-between, flex-start);
    
    .logo {
        width: 150px;
        height: 150px;
        @include for-tablet-landscape {
            width: 100px;
            height: 100px;
        }
    }

    ul {
        @include flex (row, nowrap, flex-end, center);
        width: 50%;
        margin: 40px 30px 10px;
        @include for-tablet-landscape {
            margin: 30px 10px 10px;
        }
        @include for-tablet-portrait {
            display: none;
        }

        li {
            background-color: $secondaryColour;
            padding: 3px 10px 5px;
            border-radius: 20px;
            margin-left: 50px;
            transition: 250ms;
            &:hover,
            &:focus {
                position: relative;
                color: $quaternaryColour;
                background-color: $primaryColour;
            }
            @include for-tablet-landscape {
                margin-left: 40px;
            }
        }
    }
}

.cartIcon {
    @include flex (row, nowrap, space-between, center);
    background-color: $secondaryColour;
    padding: 3px 10px 5px;
    border-radius: 20px;
    margin-left: 50px;
    transition: 250ms;
    @include for-tablet-landscape {
        margin-left: 40px;
    }
    i {
        font-size: clamp(0.8rem, 2vw, 1rem);
        line-height: clamp(1rem, 2vw, 1.25rem);
    }
}

.cartSpace {
    margin-left: 5px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    line-height: clamp(1rem, 2vw, 1.25rem);
}

// Slide Out Nav Styles:
.slideOutNav {
    padding: 35px 50px;
    width: 100%;
    height: 100vh;
    background-color: $fontAltColour;
    opacity: 0.98;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: 0.75s;

    .buttonContainer {
        @include flex (row, nowrap, flex-end);

        button {
            display: flex;
            padding: 9px 17px;
            margin: 6px;
            border-radius: 50%;
            font-size: 2rem;
            background-color: $tertiaryColour;
            color: $primaryColour;
            z-index: 20;

            &:hover,
            &:focus {
                color: $quaternaryColour;
                background-color: $primaryColour;
            }
        }
    }

    ul {
        @include flex (column, nowrap, center, center);
        padding: 40px 0 0;
    }

    li {
        font-family: $mainFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-weight: 600;
        background-color: $tertiaryColour;
        color: $primaryColour;
        margin-bottom: 20px;
        padding: 10px 15px;
        border-radius: 25px;
    
        &:hover,
        &:focus {
            color: $quaternaryColour;
            background-color: $primaryColour;
        }
    }
}

// Show and Hide class to toggle using Javascript (for slide-out Nav)
.show {
    display: block;
}

.hide {
    display: none;
}

