// COLOURS:
$primaryColour: #F4F4F4;
$secondaryColour: #bcc9e1;
$tertiaryColour: #737373;
$quaternaryColour: #95abc6;
$fontColour: #000000;
$fontAltColour: #2f2f30;
$whiteColor: #FFF;


// FONTS:
$mainFont: "raleway";
$accentFont: "sifonn";