html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "raleway";
  src: url("./fonts/raleway/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "raleway";
  src: url("./fonts/raleway/Raleway-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "raleway";
  src: url("./fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "raleway";
  src: url("./fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "sifonn";
  src: url("./fonts/sifonn/sifonn.otf");
  font-weight: normal;
}
html {
  font-family: "raleway";
  /* 20px default font size */
  font-size: 125%;
  color: #000000;
}
@media (max-width: 469px) {
  html {
    font-size: 100%;
  }
}

h1 {
  font-family: "sifonn";
  font-size: clamp(3rem, 7vw, 5rem);
  line-height: clamp(3rem, 7vw, 4.85rem);
  text-transform: uppercase;
}

h2 {
  font-family: "raleway";
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: clamp(1.8rem, 4vw, 2.5rem);
  letter-spacing: 3px;
  color: #737373;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: clamp(1.35rem, 2vw, 1.6rem);
  letter-spacing: 1px;
  color: #2f2f30;
  font-weight: 600;
}

li {
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: clamp(1rem, 2vw, 1.25rem);
  letter-spacing: 1px;
  color: #2f2f30;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 469px) {
  .wrapper .wrapper {
    width: 95%;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  color: #2f2f30;
  border: solid 4px #95abc6;
  border-radius: 50px;
  padding: 10px 20px 15px;
  margin: 10px;
  display: inline-block;
  transition: 350ms;
}
h3:hover {
  color: #95abc6;
  background-color: #F4F4F4;
}

button {
  margin-bottom: 100px;
  margin-top: 20px;
  color: #000000;
  background-color: #95abc6;
  font-family: "sifonn";
  padding: 20px;
  border-radius: 50px;
  transition: 350ms;
}
button:hover {
  position: relative;
  color: #95abc6;
  background-color: #F4F4F4;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.galleryItem {
  width: 430px;
  height: 180px;
  margin: 30px 0px;
  transition: 350ms;
}
@media (max-width: 469px) {
  .galleryItem {
    width: 300px;
    height: 130px;
    margin: 15px 0px;
  }
}
.galleryItem:hover {
  transform: scale(85%);
  position: relative;
  border-radius: 25px;
  box-shadow: 0 0 6px 3px #bcc9e1, 0 0 9px 6px #737373, 0 0 12px 9px #95abc6;
}
.galleryItem img {
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item .itemFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.item .itemImg {
  width: 430px;
  height: 180px;
  margin: 30px 0px;
  transition: 350ms;
}
@media (max-width: 469px) {
  .item .itemImg {
    width: 300px;
    height: 130px;
    margin: 15px 0px;
  }
}
.item .itemImg img {
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cart li {
  width: 25%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 469px) {
  .cart li {
    width: 300px;
    height: 130px;
    margin: 15px 0px;
  }
}
.cart li img {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

footer p {
  text-align: center;
  margin: 30px;
}

.navIcon {
  display: none;
  padding: 10px 13px;
  margin: 6px;
  border-radius: 50%;
  font-size: 2rem;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #737373;
  color: #F4F4F4;
  transition: 0.75s;
}
.navIcon:hover, .navIcon:focus {
  color: #95abc6;
  background-color: #F4F4F4;
}
@media (max-width: 570px) {
  .navIcon {
    display: block;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.navBar .logo {
  width: 150px;
  height: 150px;
}
@media (max-width: 780px) {
  .navBar .logo {
    width: 100px;
    height: 100px;
  }
}
.navBar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin: 40px 30px 10px;
}
@media (max-width: 780px) {
  .navBar ul {
    margin: 30px 10px 10px;
  }
}
@media (max-width: 570px) {
  .navBar ul {
    display: none;
  }
}
.navBar ul li {
  background-color: #bcc9e1;
  padding: 3px 10px 5px;
  border-radius: 20px;
  margin-left: 50px;
  transition: 250ms;
}
.navBar ul li:hover, .navBar ul li:focus {
  position: relative;
  color: #95abc6;
  background-color: #F4F4F4;
}
@media (max-width: 780px) {
  .navBar ul li {
    margin-left: 40px;
  }
}

.cartIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #bcc9e1;
  padding: 3px 10px 5px;
  border-radius: 20px;
  margin-left: 50px;
  transition: 250ms;
}
@media (max-width: 780px) {
  .cartIcon {
    margin-left: 40px;
  }
}
.cartIcon i {
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: clamp(1rem, 2vw, 1.25rem);
}

.cartSpace {
  margin-left: 5px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: clamp(1rem, 2vw, 1.25rem);
}

.slideOutNav {
  padding: 35px 50px;
  width: 100%;
  height: 100vh;
  background-color: #2f2f30;
  opacity: 0.98;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: 0.75s;
}
.slideOutNav .buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: normal;
}
.slideOutNav .buttonContainer button {
  display: flex;
  padding: 9px 17px;
  margin: 6px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #737373;
  color: #F4F4F4;
  z-index: 20;
}
.slideOutNav .buttonContainer button:hover, .slideOutNav .buttonContainer button:focus {
  color: #95abc6;
  background-color: #F4F4F4;
}
.slideOutNav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}
.slideOutNav li {
  font-family: "raleway";
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 600;
  background-color: #737373;
  color: #F4F4F4;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 25px;
}
.slideOutNav li:hover, .slideOutNav li:focus {
  color: #95abc6;
  background-color: #F4F4F4;
}

.show {
  display: block;
}

.hide {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
}
@media (max-width: 780px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
header img {
  margin-left: 0px;
  height: 100vh;
  width: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 780px) {
  header img {
    width: 100%;
    height: 50vh;
  }
}
header div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  margin: 20px;
  margin-left: 50px;
}
@media (max-width: 780px) {
  header div {
    width: 100%;
    margin-left: 20px;
  }
}
header div h1, header div li {
  text-align: center;
}
@media (max-width: 780px) {
  header div h1, header div li {
    margin: 25px 0px;
  }
}
header div h2 {
  display: inline-block;
  color: #2f2f30;
  border: solid 4px #95abc6;
  border-radius: 50px;
  padding: 2px 15px 5px;
  margin: 10px 10px 50px;
  transition: 350ms;
}
header div h2:hover, header div h2:focus {
  color: #95abc6;
  background-color: #F4F4F4;
}/*# sourceMappingURL=App.css.map */